# Виртуальное окружение
venv/
env/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE файлы
.vscode/
.idea/
*.swp
*.swo

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Временные файлы
*.tmp
*.temp

# Большие файлы данных (по желанию)
*.csv
*.docx
